.menu__list {
    list-style-type: none;
    border: 1px solid #000;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.menu__link:hover {
    color: aquamarine;
}

.menu__link:active {
    color: #972727;
}

.menu__list:first-child{
    border-radius: 10px;
}

.menu__list:hover .menu__link {
    text-decoration: none;
} 

